html
  head
    title='Test App'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Test App!!!
        p Click the button to visit Nordecode...
        p 
          a.btn.btn-primary(href="http://nordecode.com") NordeCode
        p
